body {
  margin: 0px;
  padding: 0px; }

header {
  height: 100vh;
  background-image: linear-gradient(rgba(78, 78, 78, 0.4), rgba(255, 94, 0, 0.2)), url(../images/ww.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.circle {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: -25px;
  height: 4rem;
  width: 4rem;
  background-color: #818181;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: right;
  animation: wiggle 1.5s infinite; }

.circle2 {
  cursor: pointer;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0%;
  left: -25px;
  height: 4rem;
  width: 4rem;
  background-color: #818181;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: right;
  animation: wiggle 1.5s infinite; }

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0); }
  15% {
    transform: rotateZ(-15deg); }
  20% {
    transform: rotateZ(10deg); }
  25% {
    transform: rotateZ(-10deg); }
  30% {
    transform: rotateZ(6deg); }
  35% {
    transform: rotateZ(-4deg); }
  40%, 100% {
    transform: rotateZ(0); } }
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  transform: scale(1.2); }

/* Position the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px !important;
  /* Override the font-size specified earlier (36px) for all navigation links */ }

.hero-text p {
  margin-top: 0px;
  position: absolute;
  color: white;
  top: 50%;
  margin-bottom: 0px;
  width: 100vw;
  text-align: center;
  font-size: 200%;
  font-family: fantasy; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .circle {
    display: none; }

  #bars2 {
    font-size: 264%;
    cursor: pointer;
    color: #ffff;
    padding-right: 0.6875rem; }

  .circle2 {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0%;
    left: -25px;
    height: 4rem;
    width: 4rem;
    background-color: #818181;
    border-top-right-radius: 00%;
    border-bottom-right-radius: 100%;
    text-align: right;
    animation: wiggle 1.5s infinite; }

  .hero-text p {
    top: 36%; } }

/*# sourceMappingURL=main.css.map */
