
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px) {

    header {
        height: 100vh;
        background-image: linear-gradient(rgba(78, 78, 78, 0.4), rgba(255, 94, 0, 0.2)), url(../images/ww.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    .circle {
        display: none;
    }
    #bars2 {
        font-size: 264%;
        cursor: pointer;
        color: #ffff;
        padding-right: 0.6875rem;  
      }
      
      .circle2 {
        display: block;
        z-index: 1;
        position: fixed;
        top: 0%;
        left: -25px;
        height: 4rem;
        width: 4rem;
        background-color: #818181;
        border-top-right-radius: 00%;
        border-bottom-right-radius: 100%;
        text-align: right;
        animation: wiggle 1.5s infinite;
    }

    .hero-text p {
        margin-top: 0px;
        position: absolute;
        color: white;
        top: 36%;
        left: 0%;
        margin-bottom: 0px;
        width: 100vw;
        text-align: center;
        font-size: 200%;
        font-family: fantasy;
      }
      
}